html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 由此開始 */

/* *{outline: 0.1px red solid;} */

body{
    font-family:"Noto Sans TC",sans-serif;
    font-size: 15px;
    color:#606266;}


h1 img{
    height:45px;
    width:50px;
    padding:20px 0 0 20px;
    vertical-align: bottom;
}
h1 a{
    font-size:2em;
    text-decoration:none;
    color:black;
    font-weight:bolder;
}
.process{
    background: #F5F7FA;
    width:700px;
    margin:0 auto;
    height:30px;
    position: relative;
    top:25px;
    line-height: 13px;
    font-size:15px;
    padding:10px 0;
    color:#4BC9C9;
    /* text-align: center; */

}

.process ul{
    display:flex;
    justify-content:center;
    
}
.process ul li{
    align-self: center;
    /* margin:0 15px; */
    margin: 0 0 0 20px;
}

.far{
    font-size:25px;
    position: relative;
    top:3px;
    margin:0 15px 0 0;
}
.process ul 
.circle3{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border: 2px solid #4BC9C9;
    padding: 5px;
    width: 12px;
    position: relative;
    text-align: center;
    margin: 0 0 0 20px;


}
.process .arrow{
    color:#C0C4CC;
}

/* main區 */
h3{
    font-size: 36px;
    text-align:center;
    margin:80px 0 20px 0;
}
.orderfinish p{
    font-size: 16px;
    text-align:center;
    line-height: 25px;
    margin:0 0 20px 0;

}
.gift{
    display: flex;
    margin:20px auto;
}
/* orderbox區 */

.orderbox{
    max-width: 730px;
    background-color: #F5F7FA;
    margin:0 auto;
    padding:3px 0;
}
.orderbox p{
    font-size: 16px;
    color:#000000;
    margin:30px 0 15px 15px;
}

.orderbox-shoppinglist-content,
.orderbox-shippingaddress-content
{
display: flex;
max-width: 700px;
margin:0 auto;
}
.orderbox-shoppinglist-content ul{
display:flex;
flex-direction: column;

}
.orderbox-shoppinglist-content ul li{
    height: 30px;
}
.orderbox-shoppinglist-shippingcost{
    display:flex;
}
.orderbox-shoppinglist-totlacost{
    display:flex;

}
.orderbox-shoppinglist-content ul li,
.orderbox-shippingaddress-content ul li{

    padding:10px 20px;
}
.orderbox-shoppinglist-content ul li:first-child,
.orderbox-shippingaddress-content ul li:first-child,.orderbox-shoppinglist-shippingcost{
    border-bottom:1px solid rgb(196, 196, 196);
}
.orderbox-shoppinglist-content-name{
    width:35%;
}

.orderbox-shoppinglist-content-number,
.orderbox-shoppinglist-content-color{
    width: 15%;

}
.orderbox-shoppinglist-content-number li,
.orderbox-shoppinglist-content-color li{
    text-align:center;
    flex-wrap: nowrap;
}
.orderbox-shoppinglist-content-cost li{
    text-align:end;

}

.orderbox-shoppinglist-content-cost{
    width: 35%;
}

.orderbox-shoppinglist-shippingcost,
.orderbox-shoppinglist-totalcost{
    display:flex;
    justify-content: flex-end;
    padding:7px 20px;
    max-width: 700px;
    margin:0 auto;
    box-sizing: border-box;


}

.orderbox-shoppinglist-shippingcost div,
.orderbox-shoppinglist-totalcost div{


text-align:end;
line-height: 24px;
}
.orderbox-shoppinglist-totalcost div:last-child{
font-size:24px;
font-weight: 700;
}


.orderbox-shoppinglist-shippingcost div:first-child,.orderbox-shoppinglist-totalcost div:first-child{
    width: 80%;
}
.orderbox-shoppinglist-shippingcost div:last-child,
.orderbox-shoppinglist-totalcost div:last-child{
    width: 20%;
}

/* 取貨資訊 */
.orderbox-shippingaddress-content-pickup{
    width: 30%;
}
.orderbox-shippingaddress-content-address{
    width: 70%;
}
.orderbox-shippingaddress-content ul li{
    height: 20px;
}

/* 付款資訊 */
.orderbox-paymentdetail-content{
    display: flex;
    padding:7px 0 0 20px;
    max-width: 700px;
    margin:0 auto;
    box-sizing: border-box;
    justify-content: space-between;
    height: 60px;

}


/* footer區 */
footer div{
    display:flex;
    justify-content: center;
    max-width:830px;
    margin:30px auto;
}

footer div a{
    border:1px solid #DCDFE6;
    width: 154px;
    height: 56px;
    text-decoration:none;
    margin-left:20px;
    text-align: center;
    line-height: 56px;
    border-radius: 4px;
    color:#5A5E66;
    font-size: 20px;

}

footer div a:hover{
    background:#4BC9C9;
    color:#FFFFFF;
}


