html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 由此開始 */

body{
    font-family:"Noto Sans TC",sans-serif;}


h1 img{
    height:45px;
    width:50px;
    padding:20px 0 0 20px;
    vertical-align: bottom;
}
h1 a{
    font-size:2em;
    text-decoration:none;
    color:black;
    font-weight:bolder;
}
.process{
    background: #F5F7FA;
    width:700px;
    margin:0 auto;
    height:30px;
    position: relative;
    top:25px;
    line-height: 13px;
    font-size:15px;
    padding:10px 0;
    color:#909399;
    /* text-align: center; */

}

.process ul{
    display:flex;
    justify-content:center;
    
}
.process ul li{
    align-self: center;
    /* margin:0 15px; */
    margin: 0 0 0 20px;
}
.blue{
    color:#4BC9C9;
}
.far{
    font-size:25px;
    position: relative;
    top:3px;
    margin:0 15px 0 0;
}
.process ul 
.circle3{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border: 2px solid #909399;
    padding: 5px;
    width: 12px;
    position: relative;
    text-align: center;
    margin: 0 0 0 20px;


}

.order{
    background:-webkit-linear-gradient(left,#8BC1EF,#82D6D6);
    height:150px;
    color:white;
    margin:0;
    display:flex;
    white-space: nowrap;
    font-size: 15px;
    justify-content:center;
    align-items:center;
}
.part2{
    color:#303133;}
.circle2{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    padding: 5px;
    width: 12px;
    position: relative;
    text-align: center;
    border: 2px solid #303133;
    color:#303133;
}
.orderdetail :first-child{
    font-size:36px;
    padding: 5px 0 10px 0;
}
.totalcost{
    font-size:24px;
    font-weight: bold;
}
.orderdetail{
    margin:30px 0;
    border-left:2px solid white;
    height:77px;
    padding:0 0 0 10px;
    width:400px;

}
.cost span{
    padding:0 10px;
}

/* main區 */

main{
    color:#909399;
}
.content ul{
    display: flex;
    flex-wrap:wrap;
    width:850px;
    margin:20px auto;
    border:box
}
.content li{
    height:120px;
    border:1px solid #DCDFE6;
    width:380px;
    margin:10px 10px;
    border-radius: 4px;
    align-items:center;
    justify-content:space-around;
    display: flex;
    flex-wrap:nowrap;
    padding-left:20px;
    color:#909399;
    font-size: 15px;
}
.content div{
    width:216px;
}

.content ul li:first-child{
    border:1px solid#4BC9C9;
    background:#F5F7FA;
}


.content ul li div span{
    color:#606266;
}
.content ul li div p{
    padding-top:5px;
}
.content ul li .unavailable,
.content ul li .unavailable span{
    color:#DCDFE6;
}
.notice{
    font-size:12px;
    line-height: 18px;
    width:830px;
    margin:30px auto;
    letter-spacing: 1.2px;
    background-image:url(../image/icon_notice.svg)
    ;
    background-position: right;
    padding:20px 0;
    background-repeat:no-repeat;
    
}
.notice ul li span{
    color:#4BC9C9;
}
.black{
    color:#000000;
}
/* footer區 */
footer div{
    display:flex;
    justify-content: flex-end;
    width:830px;
    margin:30px auto;
}

footer div a{
    border:1px solid #DCDFE6;
    width: 154px;
    height: 56px;
    text-decoration:none;
    margin-left:20px;
    text-align: center;
    line-height: 56px;
    border-radius: 4px;
    color:#5A5E66;
}

footer div a:hover{
    background:#4BC9C9;
    color:#FFFFFF;
}


