html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1024px;
  font-family: 'Microsoft JhengHei';
  font-weight: 700;
  color: #3F5D45;
  margin: 0 auto;
}

header {
  padding: 30px 42px;
}

header .fa-bars {
  display: none;
}

h1 a {
  float: left;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../image/desert/logotype-lg-dark.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 40px;
  background-position: center;
}

h1 .header-logo {
  float: left;
  width: 40px;
  margin-right: 10px;
}

header ul {
  text-align: end;
  height: 40px;
}

header ul li {
  display: inline-block;
}

header ul .fa-shopping-cart {
  color: #3F5D45;
  padding-left: 30px;
  line-height: 40px;
  font-size: 22px;
}

.nav {
  line-height: 40px;
}

.nav a {
  padding: 7px 30px;
  color: #3F5D45;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 42px;
}

.shoppingcart {
  width: 100%;
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shoppingcart .shoppingcart-title {
  font-size: 24px;
  color: #3F5D45;
  height: 65px;
  background-color: #EAF0ED;
  line-height: 65px;
  text-align: center;
}

.shoppingcart .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px 20px 0;
  border-bottom: 1px solid #EAF0ED;
}

.shoppingcart .product-RWD-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shoppingcart .product-RWD-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.shoppingcart img {
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.shoppingcart .product-name {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shoppingcart .product-name .product-name-item {
  font-size: 20px;
  margin-bottom: 10px;
}

.shoppingcart .product-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.shoppingcart .product-number a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: #3F5D45;
  border: 1px solid #EAF0ED;
}

.shoppingcart .product-cost {
  font-size: 20px;
  line-height: 110px;
}

.shoppingcart .fas {
  line-height: 110px;
}

.order-box {
  max-width: 300px;
  width: 100%;
}

.order-detail {
  background-color: #3F5D45;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #EAF0ED;
  width: 100%;
}

.order-detail p {
  color: #EAF0ED;
  font-size: 24px;
  border-bottom: 1px solid #EAF0ED;
  line-height: 60px;
  text-align: center;
  margin-bottom: 15px;
}

.order-detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 30px;
  font-weight: 400;
}

.order-detail .totalcost {
  line-height: 50px;
  font-size: 20px;
  font-weight: 700;
}

.checkout {
  font-family: 'Microsoft JhengHei';
  background-color: #FFE180;
  width: 100%;
  height: 65px;
  border: none;
  font-size: 24px;
  color: #3F5D45;
  font-weight: 700;
}

.subscribe {
  background-color: #3F5D45;
  padding: 30px 0;
  text-align: center;
}

.subscribe img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
  margin: auto 0;
  vertical-align: middle;
  display: inline-block;
}

.subscribe span {
  color: white;
  margin-right: 130px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
}

.subscribe .mail {
  background-color: #fff;
  display: inline-block;
  height: 56px;
  line-height: 56px;
}

.subscribe .mail .fas {
  color: #3F5D45;
  width: 60px;
  font-size: 25px;
  display: inline-block;
  line-height: 56px;
}

.subscribe .mail input[type="text"] {
  font-size: 22px;
  border: none;
  display: inline-block;
  width: 250px;
}

.subscribe .mail input[type="text"]:focus {
  outline: none;
}

.subscribe .mail input[type="submit"] {
  width: 60px;
  border: none;
  background-color: #FFE180;
  line-height: 54px;
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  font-weight: 700;
}

.information {
  background-color: #EAF0ED;
  padding: 40px 120px;
  position: relative;
}

.information .footer-logo {
  width: 180px;
  margin-bottom: 115px;
}

.information .footer-information {
  line-height: 23px;
  margin-bottom: 30px;
}

.information .footer-icon {
  width: 100px;
}

.information .footer-icon img {
  width: 32px;
  margin-right: 8px;
}

.information .footer-slogan {
  width: 60px;
  position: absolute;
  top: 30px;
  right: 120px;
}

.information .rights {
  font-family: Times;
  text-align: end;
  font-weight: 400;
  position: relative;
  top: -16px;
}

@media (max-width: 375px) {
  .header-logo, .nav {
    display: none;
  }
  header {
    padding: 20px 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .fa-bars {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 40px;
  }
  header h1 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header h1 a {
    width: 115px;
  }
  header ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header ul .fa-shopping-cart {
    padding-left: 0;
    font-size: 20px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .shoppingcart {
    max-width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shoppingcart .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 30px 0 30px;
    border-bottom: none;
  }
  .shoppingcart .product-RWD-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #EAF0ED;
  }
  .shoppingcart .product-RWD-small {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shoppingcart img {
    width: 150px;
  }
  .shoppingcart .product-number {
    margin: 0;
  }
  .shoppingcart .product-cost {
    line-height: 45px;
    text-align: end;
    border-bottom: 1px solid #EAF0ED;
  }
  .shoppingcart .fas {
    display: none;
  }
  .order-box {
    width: 100%;
    max-width: 375px;
  }
  .order-detail {
    background-color: white;
    padding: 0 30px;
    color: #3F5D45;
    width: 100%;
  }
  .order-detail p {
    color: #3F5D45;
    font-size: 24px;
    border: none;
    line-height: 65px;
    background-color: #EAF0ED;
  }
  .order-detail .totalcost {
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
  }
  .subscribe span {
    margin-right: 0;
  }
  .subscribe .mail {
    margin-top: 20px;
  }
  .subscribe .mail input[type="text"] {
    width: 190px;
  }
  .information {
    padding: 30px;
  }
  .information .footer-logo {
    margin-bottom: 40px;
  }
  .information .footer-slogan {
    display: none;
  }
  .information .rights {
    text-align: inherit;
    top: 0;
    margin-top: 20px;
  }
}


/*# sourceMappingURL=dessert_page4.css.map */